## OMOP Database
namespace: datamesh
app: omop-postgres
cdm:
  name: omop-cdm-deployment
  replicas: "1"
  image: postgres:17.2-bullseye
  pullPolicy: IfNotPresent
  port: 5432
vocab:
  name: populate-db-job
  ttl: 120
  image: ghcr.io/idea4rc/omop-vocab-uploader@sha256:dc81445a11146ed9bd2c12ceab940c6a4e6b4b9388c1fcb165d49fa9f0d976f8
  pullPolicy: IfNotPresent
db:
  name: omopdb
  schema: omopcdm_synthetic
  result_schema: results_synthetic
vocabJob: true
service:
  name: omop-postgres-service
  port: 5432
  targetPort: 5432
  type: ClusterIP

# Additional configuration that's related to the capsule environment
idea4rcStorageClass:
  name: idea4rc-hostpath
