#ETL virtual service
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ .Values.nlpingestion.statusweb.name }}
  namespace: {{ .Values.nlpingestion.statusweb.namespace }}
spec: 
  hosts:
  - "*"
  gateways:
  - istio-ingressgateway
  http:
  - match:
    - uri:
        prefix: /nlp-ingestion/status-web/
    rewrite:
        uri: "/"
    route:
    - destination:
        host: {{ .Values.nlpingestion.statusweb.service.name }}.{{ .Values.nlpingestion.statusweb.namespace }}.svc.cluster.local
        port:
          number: {{ .Values.nlpingestion.statusweb.service.port }}