## Feasibility Cohort Builder Query Executor
name: feasibility-cohort-builder-exec
namespace: datamesh
replicas: 1
image: "ghcr.io/idea4rc/cohortbuilder-exec:2.1"
port: 3000
serviceURL: http://fcb-api:4002
fhirServerURL: http://fhir-server:8080
production: "true"
auditURL: "/query/audit"
service:
  name: fcbexec-svc
  port: 3000
  targetPort: 3000
  type: ClusterIP
kafka:
  consumerId: capsule_1_consumer
  fhirTopic: fhir_queries
  queryResultTopic: fhir_queries_results
  sqlTopic: sql_queries
  sqlResultTopic: sql_queries_results
  host: orchestrator.idea.lst.tfo.upm.es
  port: 9092
  clientId: capsule_1
# needs to point to the ETL Postegress instance
postgres:
  URL: fcb-postgres-db
  dbName: etl-db
  port: 5437
# Keycloack authentication requires the user to manually set the CLIENT_ID and CLIENT_SECRET from 
# commandline when deploying the capsule.
keyCloak:
  URL: /realms/idea4rc/protocol/openid-connect/token/introspect
  port: 443
  host: https://idea4rc-keykloak.development-iti.com/auth
  clientId: placeholder
  clientSecret: placeholder
